{% extends 'base.html.twig' %}

{% block title %}
    Mes Pokemons
{% endblock %}

{% block body %}
    <div class="content">
        <section class="hero is-bold is-warning">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Pokemons</h1>
                    <h2 class="subtitle">Consultez la liste de vos Pokemons</h2>
                </div>
            </div>
        </section>
        <div class="container">
            {% if pokemons is defined %}
                {% if pokemons is not empty %}
                    <table class="table is-hoverable">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pkm in pokemons %}
                            <tr>
                                <td>{{ pkm.refPokemon.nom }}</td>
                                <td><a class="btn btn-primary" href="{{ path('pokemon_show', { id: pkm.id }) }}">Voir la fiche détaillée</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Vous ne possédez aucun Pokemon</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
